body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

header {
    grid-column: 1;
    grid-row: 1;
    padding: 0 2rem;
    display: flex;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    color: #2c2227;
    padding: 1rem 1.5rem
}

header nav ul li a:hover {
    color: #8b95a2;
}





section {
    grid-column: 1;
    grid-row: 2;
    padding: 4rem 2rem 0 2rem;
}

.search-form {
    background-color: #b93926;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    box-shadow: 1px 1px 3px 0 #222222;
}

.search-form label {
    display: none;
}

.search-form input {
    flex: 1;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
    padding: .5rem;
    outline: none;
}


main {
    grid-column: 1;
    grid-row: 3;
    padding: 0 2rem;
}
